:root {
  --background-color: #800020;
  --primary-color: #410317;
  --fill-color: #eaeaea;
  --green-light: #9fde5f;
  --green-medium: #7db446;
  --green-dark: #436426;
  --yellow-light: #feda39;
  --yellow-medium: #ffa700;
  --yellow-dark: #a8441d;
  --fredoka: "Fredoka", sans-serif;
  --roboto: "Roboto", sans-serif;
}
