@import "vars";

.corte_fichas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -7rem;

}

#corte-cantidad {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border-color: #7db446;
  border-width: 3px;
  margin-top: -2.5rem;
  font-size: 1.6rem;
  margin-bottom: -4rem;
}

.corte_fichas h2 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}