.nav_top {
  background-color: #410317;
  height: 60px;
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 0.2fr;
  grid-auto-columns: 1fr;
  gap: 0px 10px;
  grid-auto-flow: row;
  position: fixed;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.08) 0px 4px 6px -2px;
  z-index: 9999;
}

.bi.bi-list {
  color: white;
  font-size: 3rem;
  margin-left: 1rem;
  height: 40px;
  width: auto;
}

h1 {
  font-family: "Fredoka", sans-serif;
  color: #ffada5;
  font-size: 2rem;
  font-weight: 300;
  align-self: center;
  justify-self: center;
}
