.mensajes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje_cont {
    background-color: white;
    width: 300px;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    font-family:  "Roboto", sans-serif;
    font-size: 1.4rem;
    border-radius: 15px;
}

.estado_mensaje {
    background-color: #8CD840;
    width: 60px;
    height: 25px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    margin-right: 1rem;
    margin-left: -0.5rem;
}

.fecha_mensaje {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.texto_mensaje {
    line-height: 2.3rem;
}