@import 'vars';

.top-menu {
    width: 100%;
    height: auto;
    background-color: #FFEDD0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 60px;
    padding-top: 40px;
}

h5 {
    font-family: "Fredoka", sans-serif;
    font-size: 1.8rem;
    color: black;
}